*{
    padding: 0px;
    margin: 0px;
}


.nav-bar{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    background-color: white;
}

.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.nav-menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-button button{
    height: 70%;
    width: 70%;
    color:white;
    background-color: red;
}
.nav-button button:hover{
    background-color: rgba(255, 0, 0, 0.797);
}

.main-content{
    width: 100vw;
    height: 80vh;
    background-image: url(block.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    position: absolute;
    right: 10%;
    top: 40%;
    width: 30%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content button{
    margin-top: 15px;
    color: white;
    background: transparent;
    height: 40px;
    width: 120px;
    border: 2px solid white;
}

.footer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: cornsilk;
}

.text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.options{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10%;
}

.options input{
    height: 30%;
    width: 250px;
    padding: 5px;
}

.options button{
    height: 50%;
    width: 150px;
    color: white;
    background-color: rgb(0, 157, 255);
    border: none;
    font-weight: bold;
}
.options button:hover{
    background-color: rgba(0, 157, 255, 0.799);
}
button {
    cursor: pointer;
}